syntax: glob
target-eclipse
target/*
stacktrace.log
dist/*
deploy/*
application.properties
test/unit/com/marketshare/queryengine/executor/BasicExecutorServiceSpec.groovy
test/unit/com/marketshare/queryengine/enumerator/BasicPlanEnumServiceSpec.groovy
test/unit/com/marketshare/optimizer/data/DwSegmentDimSpec.groovy
test/unit/com/marketshare/optimizer/data/DwProdDimSpec.groovy
test/unit/com/marketshare/optimizer/data/DwPhaseDimSpec.groovy
test/unit/com/marketshare/optimizer/data/DwGeoDimSpec.groovy
test/unit/com/marketshare/optimizer/data/DwDriverDimSpec.groovy
test/unit/com/marketshare/optimizer/data/DwChannelDimSpec.groovy
test/unit/com/marketshare/optimizer/data/DwCategoryVarDimSpec.groovy
src/groovy/com/marketshare/datastack/edit/ScratchPad.groovy
grails-app/services/com/marketshare/queryengine/enumerator/PlanEnumeratorFactory.groovy
grails-app/services/com/marketshare/queryengine/costanalyzer/PlanCost.groovy
grails-app/services/com/marketshare/queryengine/costanalyzer/CostModelFactory.groovy
grails-app/services/com/marketshare/queryengine/costanalyzer/CostModel.groovy
grails-app/services/com/marketshare/queryengine/costanalyzer/Cost.groovy
grails-app/services/com/marketshare/queryengine/costanalyzer/BasicCostModel.groovy
grails-app/services/com/marketshare/queryengine/Catalog/permstore/data/DimensionStatisticsService.groovy
grails-app/services/com/marketshare/queryengine/Catalog/DataToStoreMapping.groovy
grails-app/services/com/marketshare/queryengine/Catalog/ActualsInformation.groovy
grails-app/domain/com/marketshare/optimizer/tool/AggDataStackLevel.groovy.orig
grails-app/conf/DataSource.groovy.orig
grails-app/conf/ApiFilters.groovy.orig
Upgraded.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/scopes/scope_settings.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
.idea/ant.xml
.idea/.name
web-app/
.slcache/
classes/
*.diff
.metadata/
out/
logs/
*.patch
*.orig
*.rej
